<div class="container details-container">
  <!-- Example row of columns -->
  <div class="row">
      <div class="col-md-4">
        <h3><%= product.title %></h3>
        <img src="/images/<%=product.thumbNailImg %>" alt="">
        <div class="price">
          $<%=product.price %>
        </div>
        <p><%=product.description %> </p>
      </div>
  </div>
</div>
