.jumbotron{
  background-image: url('/images/surfing-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-20px;
  height: 500px;
  .container{
    padding: 15px;
    background-color: rgba(158, 158, 158, 0.37);
    border-radius: 10px;
  }
}

.details-container , .product-list-container , .search-container{
  margin-top: 100px;
}
.list-container{
  margin-top: 60px;
  .thumbNail{
      width: 100px;
  }
}
.product-container{
  .price {
      font-size: 140%;
      color: #0e6b0e;
  }
  .originalPrice{
    color: #9c0606;
    text-decoration: line-through;
  }
}
.admin-panel{
    padding-top:60px;
    padding-bottom:40px;
    .panel-container{
      width: 90%;
      max-width: 500px;
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;
      .panel{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
}

#starSelect, .starRating{
    font-family: 'FontAwesome';
    color: #bbbb00;
}
